label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}

.btn-cancel {
    background-color: rgb(255, 73, 73);
    color: #fff;
    border-color: #ccc;
    padding: 6px;
    margin: 5px;
    font-size: 15px;
}

.btn-cancel:hover {
    background-color: rgb(189, 49, 49);
    color: #fff;
    border-color: #ccc;
}