<div class="container">
  <div [hidden]="submitted">
    <a routerLink="/hero-form-old">Template Driven Forms</a>
    <h1>Hero Form</h1>
    <form [formGroup]="heroForm">
      <div class="form-group">
        <label>Name</label>
        <input formControlName="name" class="form-control" id="name">
      </div>

      <div class="form-group">
        <label>Alter Ego</label>
        <input formControlName="alterEgo" class="form-control" id="alterEgo">
      </div>

      <div class="form-group">
        <label>Hero Power</label>
        <select class="form-control" formControlName="power" id="power">
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
      <button (click)="resetForm()" class="btn btn-cancel">Reset</button>


     <!-- NOT SHOWN IN DOCS -->
      <div>
        <hr>
        Name via form.controls = {{showFormControls(heroForm)}}
      </div>
     <!-- - -->
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ heroForm.value.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9">{{ heroForm.value.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9">{{ heroForm.value.power }}</div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
    <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">Create New Hero</button>
    <button type="button" class="btn btn-cancel" (click)="submitted=false; heroForm.reset()">Cancel</button>

  </div>
</div>

<!-- ====================================================  -->
<hr>
<style>
  .no-style .ng-valid {
  border-left: 1px  solid #CCC
}

  .no-style .ng-invalid {
  border-left: 1px  solid #CCC
}
</style>
